.fab {
  border-radius: 100%;
  bottom: 25px;
  font-size: 25px;
  padding: 20px;
  position: fixed;
  right: 25px;
}

.fab-danger {
  bottom: 25px;
  position: fixed;
  padding: 10px;
  left: 25px;
}
